Source: postgresql-tableversion
Section: database
Priority: extra
Build-Depends: debhelper,
               postgresql-server-dev-all
Standards-Version: 3.9.5
Maintainer: Ivan Mincik <imincik@linz.govt.nz>
Homepage: http://www.linz.govt.nz
Vcs-Git: git://github.com/linz/postgresql-tableversion.git
Vcs-Browser: https://github.com/linz/postgresql-tableversion

Package: postgresql-10-tableversion
Architecture: all
Depends: ${misc:Depends},
         postgresql-10
Recommends:
Description: PostgreSQL table versioning extension, recording row modifications
 and its history. The extension provides APIs for accessing snapshots of a table
 at certain revisions and the difference generated between any two given
 revisions. The extension uses a PL/PgSQL trigger based system to record and
 provide access to the row revisions
 .
 This package contains the EXTENSION version of the code
 (requires access to server filesystem)

Package: postgresql-11-tableversion
Architecture: all
Depends: ${misc:Depends},
         postgresql-11
Recommends:
Description: PostgreSQL table versioning extension, recording row modifications
 and its history. The extension provides APIs for accessing snapshots of a table
 at certain revisions and the difference generated between any two given
 revisions. The extension uses a PL/PgSQL trigger based system to record and
 provide access to the row revisions
 .
 This package contains the EXTENSION version of the code
 (requires access to server filesystem)

Package: postgresql-12-tableversion
Architecture: all
Depends: ${misc:Depends},
         postgresql-12
Recommends:
Description: PostgreSQL table versioning extension, recording row modifications
 and its history. The extension provides APIs for accessing snapshots of a table
 at certain revisions and the difference generated between any two given
 revisions. The extension uses a PL/PgSQL trigger based system to record and
 provide access to the row revisions
 .
 This package contains the EXTENSION version of the code
 (requires access to server filesystem)

Package: postgresql-13-tableversion
Architecture: all
Depends: ${misc:Depends},
         postgresql-13
Recommends:
Description: PostgreSQL table versioning extension, recording row modifications
 and its history. The extension provides APIs for accessing snapshots of a table
 at certain revisions and the difference generated between any two given
 revisions. The extension uses a PL/PgSQL trigger based system to record and
 provide access to the row revisions
 .
 This package contains the EXTENSION version of the code
 (requires access to server filesystem)

Package: postgresql-14-tableversion
Architecture: all
Depends: ${misc:Depends},
         postgresql-14
Recommends:
Description: PostgreSQL table versioning extension, recording row modifications
 and its history. The extension provides APIs for accessing snapshots of a table
 at certain revisions and the difference generated between any two given
 revisions. The extension uses a PL/PgSQL trigger based system to record and
 provide access to the row revisions
 .
 This package contains the EXTENSION version of the code
 (requires access to server filesystem)

Package: tableversion
Architecture: all
Depends: ${misc:Depends}
Recommends:
Description: PostgreSQL table versioning extension, recording row modifications
 and its history. The extension provides APIs for accessing snapshots of a table
 at certain revisions and the difference generated between any two given
 revisions. The extension uses a PL/PgSQL trigger based system to record and
 provide access to the row revisions.
 .
 This package contains the schema loader usable to load the extension in any
 PostgreSQL database mechanism withouth having access to the server filesystem
