#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

export PREFIX=/usr

include /usr/share/postgresql-common/pgxs_debian_control.mk


override_dh_auto_build:
	+pg_buildext build $(CURDIR) .

override_dh_auto_test:
	# nothing to do here, see debian/tests/* instead

NEWEST_POSTGRES_VERSION = $(shell pg_buildext supported-versions $(CURDIR) | tail -1)

override_dh_auto_install:
	+pg_buildext install $(CURDIR) . postgresql-%v-tableversion
	# Move the scripts only parts
	mkdir -p $(CURDIR)/debian/tableversion/usr/share/
	mv $(CURDIR)/debian/postgresql-$(NEWEST_POSTGRES_VERSION)-tableversion/usr/share/table_version/ \
	   $(CURDIR)/debian/tableversion/usr/share/
	# Shall we copy instead of moving ?
	mkdir -p $(CURDIR)/debian/tableversion/usr/bin/
	mv $(CURDIR)/debian/postgresql-$(NEWEST_POSTGRES_VERSION)-tableversion/usr/bin/table_version-loader \
	   $(CURDIR)/debian/tableversion/usr/bin/


%:
	dh $@
